@font-face {
    font-family: 'gilroybold';
    src: url('../fonts/gilroy-bold.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroy-light.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'gilroysemibold';
    src: url('../fonts/gilroy-semibold.woff') format('woff');
    font-weight: 300;
}